:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto',sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    margin: 0;
    
}
.work-list
{
background-color: #ffffff;
}
.work-list:nth-child(2n){
    background-color:#F5F4FA;
}



.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
img{
    display: block;
}
          /*------------LOGO----*/
.logo .header-pre-title {
    color: var(--accent-color);

}
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    margin-right: 93px;
    
    
   
}
header{
    /*position: absolute;
    width: 100%; для распростронения background hero не сеуцмя header*/
    border-bottom: 1px solid #ECECEC;
}
.header>.container{
    display: flex;
    align-items: center;
     /*выравнивание на один уровень*/
   
   
}

.header-site-nav {
    display: flex;
    align-self: center;
    
}
.container-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-site-nav>li:not(:last-child){
    margin-right: 50px;
    

    
}
.header-connect{
    margin-left: auto;
    align-items: center;
}
.header-site-nav .logo{
    color: #000000;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
    
}

 
.header-link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
   transition-property: color;
   transition-duration:250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.header-current {
    color: var(--accent-color);
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.header-current{
    position: relative;
}
.header-current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -32px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-contact:hover .site-nav-icon{
 fill:#2196F3;
}

.header-contact {
 color: var(--primary-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: calc(16/14);
 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-icon{
   margin-right: 10px;
   fill: #757575
}


   


/* Секция эфективные решения*/

.section-hero{
        background-color: #2F303A;
        text-align: center;
       
        padding-top: 200px;
        padding-bottom: 200px;
        background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
           url(../images/bg-hero.jpg);
        max-width: 1600px;
        margin: 0 auto;

        
}

.section-hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
     
/*Заказать услугу*/
.section-hero-btn
{
    background:var(--accent-color);
    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height:calc(30/16);
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0.06em;
    /*transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}
.section-hero-btn:hover,
.section-hero-btn:focus{
   background: #2196F3;
   color: #FFFFFF;
}
.section-hero-btn{
    display: inline-block;
    padding: 10px 32px ;
    border-radius: 4px;
    text-align: center;
    border: 1px solid transparent;
    min-width: 200px;
    height: 50px;
    
}
.section-primery{
    padding-top: 94px;
    padding-bottom: 94px
}
.section-primery-item {
    
    color: var(--primary-text-color);
    display: flex;
    gap:30px;
    
}


.section-primery-svg-item{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-primery-text-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    width: 270px;
    height: 16px;
    text-align: left;
}
.section-primery-text {
 color: var(--primary-text-color);
 font-size: 14px;
 line-height: 1.71;
 margin-top: 10px;
 width: 270px;
 height: 75px;
 text-align: left;
     
}
.section-description{
    
    padding-bottom: 94px;
}
.work-list
{   display: flex;
    text-align: center;
    gap: 30px;
   
   
   
}

.section-description-title{ 
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

}
.section-description-img{
 position: relative;

}
 
.section-description-text{
       width: 370px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #ffffff;

        bottom: 0;
}
.section-description-text {
    
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color:#2F303ACC;
     
}



/*--------Наша Каманда----*/
.section-team{
    margin-top: 0;
    margin-bottom:0;
    padding-top: 94px;
    padding-bottom: 94px; /*как писать padding для img?*/
    background: #F5F4FA;
}
.team {
background: #FFFFFF;
    /* material shadow v1 */
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team-soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-item{
    padding-top:  30px; ;
 ;

}
.section-team-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    margin-top: 0;
    margin-bottom: 50px;
    
    
    text-align: center;
}
.section-team-second-title{

        font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        color: #212121;
        margin-top: 0;
        margin-bottom: 0;
}
.section-team-text{
    
        font-size: 16px;
        line-height: calc(19/16);
        margin-top: 10px;
        margin-bottom: 16px;
      
}
.team-soc{
    display: flex;
    justify-content: center;
    gap: 10px;
  
}

.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;

    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.team-soc-link:hover,
.team-soc-link:focus
{
 background-color:#2196F3;

}
.team-soc-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .team-soc-link:hover,
 .team-soc-link:focus .team-soc-icon{

    fill: #ffffff;
 }



.team-soc-item{
    margin-bottom: 30px;
}
.section-сlients {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-сlients-title {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    
}

.clients-brand {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
} 
.clients-brand:hover,
.clients-brand:focus
{
    border: 1px solid #2196F3;
}
.clients-brand:hover .clients-brand-icon{
    fill: #2196F3;
}
.clients-brand-icon{
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
    
}
.footer >.container{
    display: flex;

}

.footer-cursor{
    cursor:none;
}
.footer .logo{
    color: #FFFFFF;
    

   
}
.footer-list{
    margin-top: 20px;
}
.footer-title{
    color:var(--accent-color);
}
.footer-list-address:nth-child(){
    margin-top: 0px;
    margin-bottom: 9px;
}
.footer .address{

        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        
}

.footer .address-k{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
}
.join{
    margin-left: 70px;

}

.join-soc{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  
}
.join-title{
    display: flex;
    
    align-items: center;
    font-family: 'Roboto';
    
       
 font-weight: 700;
 font-size: 14px;
 line-height:calc(16/14);
 letter-spacing: 0.03em;
 color: #ffffff ;
 margin-top: 0;
 margin-bottom: 0;
}


.backdrop {
    transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%  -50%) scale(0) rotate(0deg);
}

.modal {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    transform: translate(-50%, -50%) scale(1) rotate(360deg) ;
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 528px;
    min-height: 581px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-x {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.modal-btn{
    background-color: transparent;
    border: #FFFFFF;
}
.is-hidden{

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
/*.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-link:hover {
    background-color: #2196F3;

}

.team-soc-link:hover .team-soc-icon {
    fill: #FFFFFF;*/
.join-soc-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: 
    rgba(255, 255, 255, 0.1);
 
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: backgroind-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.join-soc-item:hover,
.join-soc-item:focus {
    background-color:var(--accent-color);
}
.join-soc-icon{
    fill:#ffffff;
    
}



.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;
    /* Keep the layout */
    position: absolute;
    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    /* browsers in the future */
    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}
.main-look-button{
    display: flex;
    
    gap: 8px;
    justify-content: center;
   
}
.main-look{
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-look-btn{
    background: #F5F4FA;
    color: var(--title-text-color);
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.62;
    cursor: pointer;
    min-width: 73px;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    
    
   
    margin-bottom: 0;

    transition-property: background, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.02, 1);
        
        
    
}
.main-look-btn:hover,
.main-look-btn:focus{
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
h2,
p{
    margin-top: 0;
    margin-bottom: 0;
}
.gallery-list{
    display: flex;
    gap:30px;
    margin-top: 50px;
    flex-wrap:wrap; 
    
}
.gallery-item-img{
    position: relative;
    overflow: hidden;
}

.gallery-img-text{
    transition-property:transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(100%);
    overflow:auto;/*если текста будет больше*/
    position: absolute;
        top: 0;
        left: 0;
        padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    width: 100%;
    height: 100%;
  
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    
    justify-content: center;
    align-items: center;
    opacity: 0;

    
    
}

.gallery-item:hover .gallery-img-text{

    transform: translateY(0%);
    opacity: 1;
}
/*::before {
    transition: transform;
    content: normal;
    display: inline-block;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.gallery-item:hover::before{
    
    opacity: 1;
    transform:translateY(300px) ;
}*/
.gallery-item{
    width: calc ((100% - 60px)/3); 
    
    transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.gallery-item:hover
{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
   1px 4px 6px rgba(0, 0, 0, 0.16);

   
}
    
.gallery-item-text{
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.gallery-title{
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    color:var(--title-text-color);
    letter-spacing: 0.06em;
   
}
.gallery-text{
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    margin-top: 4px;
 

}
/*@keyfroms rotator{ 
  0% { transform:rotate(0)}
  100% { transform: rotate(360deg)*/
/*animation-name:rotator;
animation-duration:2000ms;
animation-timing-function:cubic-bezeir(04, 0, 0.2, 1)
animation-delay:2000ms для задержки не некоторый период;*/

/*основной цвет #212121;
/* второй цвет #757575;
/* logo #FFFFFF ; #2196F3;
/*nav footer(255, 255, 255, 0.6);
/* при нажатии #2196F3